{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %} Registrar company {% endblock %}
<!---->
{% block customCSS %}
<link
  rel="stylesheet"
  href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">REGISTRAR NUEVA COMPAÑIA</h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <form
        id="formulario"
        class="form-horizontal mx-auto"
        method="POST"
        action="/form-registrar-company"
        autocomplete="off"
        enctype="multipart/form-data">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label for="nombre_company" class="form-label">
                Nombre de la compañia
              </label>
              <input
                type="text"
                id="nombre_company"
                name="nombre_company"
                class="form-control"
                required />
            </div>
            <div class="col-md-6">
              <label for="Rif" class="form-label">
                Rif
              </label>
              <input
                class="form-control"
                type="text"
                id="Rif"
                name="Rif"
                required />
            </div>
          </div>


          <div class="mb-3 mt-4 text-center">
            <button type="submit" class="btn rounded-pill btn-primary" id="miBoton">
              Guardar registro ahora
              <i class="bi bi-arrow-clockwise"></i>
            </button>
            <div id="spinner" style="display: none;">Cargando...</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>

<script>
  const boton1 = document.getElementById('miBoton');
  const formulario = document.getElementById('formulario'); // Reemplaza 'tuFormulario' con el ID real de tu formulario
  
  
  formulario.addEventListener('submit', function() {
    boton1.disabled = true;
    boton1.innerHTML = '<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span> Cargando...';
     
  });
   
  </script>
  
{% endblock %}
