{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %} Registrar Reembolso {% endblock %}
<!---->
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">
        <a href="{{ url_for('detallePoliza', cod_poliza=cod_poliza) }}">
          <i class="bi bi-arrow-left-circle"></i>
        </a>
        Registro de Reembolso
      </h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <form id="formulario" class="form-horizontal mx-auto" method="POST" action="/form-registrar-reembolso "
        autocomplete="off" enctype="multipart/form-data">
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <label for="Diagnostico" class="form-label">
                Especializada
              </label>
              <input type="text" name="Diagnostico" class="form-control" required />
            </div>
            <div class="col-md-6">
              <label for="fecha ocurrencia" class="form-label">
                Fecha ocurrencia
              </label>
              <input class="form-control" type="date" name="Fecha_ocurrencia" required />
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <label for="Tipo_Atencion" class="form-label">
                Tipo de atención
              </label>
              <input type="text" name="Tipo_Atencion" class="form-control" placeholder="Ej: Ambulatorio, Emergencia" />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="Status" class="form-label">
                Estatus
              </label>
              <select id="statusSelect" class="form-select select2-search" name="Status"
                data-placeholder="Seleccione un estado">
                <option value=""></option>
                <option value="Reportado">Reportado</option>
                <option value="En Proceso">En Proceso</option>
                <option value="Pagado">Pagado</option>
                <option value="Declinado">Declinado</option>
                <option value="Deducible">Deducible</option>
              </select>
            </div>
            <div class="col-md-6">
              <label for="Moneda" class="form-label">
                Moneda
              </label>
              <select id="mySelect" class="form-select select2-search" name="Moneda" data-placeholder="Moneda">
                <option value="Dolares">Dolares</option>
                <option value="Bolivares">Bolivares</option>
              </select>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="Monto_solicitado" class="form-label">
                Monto solicitado
              </label>
              <input class="form-control" type="text" name="Monto_solicitado" required />
            </div>
            <div class="col-md-6">
              <label for="Monto_aprobado" class="form-label">
                Monto aprobado
              </label>
              <input class="form-control" type="text" name="Monto_aprobado" />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="fecha_noti" class="form-label">
                Fecha notificada
              </label>
              <input class="form-control" type="date" name="Fecha_notificada" required />
            </div>
            <div class="col-md-6">
              <label for="Fecha_maxima" class="form-label">
                Fecha maxima
              </label>
              <input class="form-control" type="date" name="Fecha_maxima" />
            </div>
          </div>




          <div class="row mt-2">
            <div class="col-md-6">
              <label for="Correo" class="form-label">
                Correo
              </label>
              <input class="form-control" type="text" name="correo" required />
            </div>
            <div class="col-md-6">
              <label for="Fecha_pago" class="form-label">
                Fecha pago
              </label>
              <input class="form-control" type="date" name="Fecha_pago" />
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-md-6">
              <label for="Numero_de_Siniestro" class="form-label">
                Numero de Siniestro
              </label>
              <input class="form-control" type="text" name="Numero_de_Siniestro" required />
            </div>
            <div class="col-md-6">
              <label for="monto_dolares" class="form-label">
                Monto en dolares
              </label>
              <input class="form-control" type="text" name="monto_dolares" />
            </div>
          </div>


          <input type="hidden" id="cod" name="cod_poliza">



          <div class="mb-3 mt-4 text-center">
            <button id="miBoton" type="submit" class="btn rounded-pill btn-primary">
              Guardar registro ahora
              <i class="bi bi-arrow-clockwise"></i>
            </button>
            <div id="spinner" style="display: none;">Cargando...</div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>

<script>

  const campoOculto = document.getElementById('cod');
  const cod = JSON.parse('{{ cod_poliza | tojson }}');
  campoOculto.value = cod;
  console.log(cod);

</script>

<script>
  const boton1 = document.getElementById('miBoton');
  const formulario = document.getElementById('formulario'); // Reemplaza 'tuFormulario' con el ID real de tu formulario


  formulario.addEventListener('submit', function () {
    boton1.disabled = true;
    boton1.innerHTML = '<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span> Cargando...';

  });

</script>


{% endblock %}